---
layout: default
text: java
---

<header>
  {% include horizontal_list.html collection=site.data.home.postNavbar_entries %}
  <div class="dashed"></div>

   <h1>{{page.text}}</h1>
</header>



<ul class="horizontal-list">
  {% for item in site.posts %}
      {% if item.tags contains page.text %}
    <li>
        <span class="home-date">
          {{ item.date | date: site.theme_config.date_format }}»
   </span>
      <a href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
      {% endif %}
  {% endfor %}
</ul>
